.mainslider
    &__body
        overflow: hidden
    &__slide
        position: relative
    &__content
        position: relative
        z-index: 2
    &__image
        img
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
    &__dotts
        position: relative
        z-index: 2
        margin: -29.5px 0px 0px 0px
        display: flex
        justify-content: center
        counter-reset: item
        .swiper-pagination-bullet
            margin: 0px 23px
            width: 55px
            height: 55px
            overflow: hidden
            border-radius: 50%
            border: 2px solid #fff
            position: relative
            background-size: cover
            background-repeat: no-repeat
            background-position: center                
            &::after
                opacity: 0
                transition: all 0.3s ease 0s
                font-size: 16px
                font-weight: 900
                color: #fffefe
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                display: flex
                justify-content: center
                align-items: center
                /** background: url("../img/temp.png") center no-repeat **/
                background-color: #f68038
                counter-increment: item
                content: counter(item)
        .swiper-pagination-bullet-active
            &::after
                opacity: 1
.content-mainslider
    padding: 20px 35px 60px 35px
    &__title
        font-size: 48px
        line-height: 1.2
        font-weight: 900
        text-transform: uppercase
        color: #333333
        margin: 0px 0px 50px 0px
        span
            display: block
            color: #f68038
    &__text
        font-size: 18px
        line-height: 24px
        font-weight: 900
        text-transform: uppercase
        color: #f68038
    &__footer
        text-align: center
        margin: 15px 0px 0px 0px
    &__price
        font-size: 36px
        line-height: 24px
        font-weight: 900
        color: #ffffff
        margin: 0px 0px 24px 0px
    &__button
        height: 26px
        border: 3px solid #fff
        border-radius: 15px
        display: inline-flex
        justify-content: center
        align-items: center
        padding: 0px 22px
        span
            font-size: 14px
            line-height: 24px
            font-weight: 900
            text-transform: uppercase
            padding: 0px 30px 0px 0px
            background: url("../img/icons/page/btn_arrow.png") right center no-repeat
            color: #ffffff
.products-slider
    overflow: hidden
    &__header
        @media (min-width: $md3+px)
            display: flex
    &__title
        flex: 1 1 auto
        font-family: 'UniSans'
        font-size: 36px
        font-weight: 900
        text-transform: uppercase
        letter-spacing: 0.75px
        color: #dadada
        @media (max-width: $md3+px)
            margin: 0px 0px 15px 0px
            text-align: center
    &__control
        display: flex
        align-items: center
    &__arrow
        background: url("../img/icons/page/sl_arrow_h.png") 0 0 no-repeat
        filter: grayscale(100%)
        cursor: pointer
        min-width: 34px
        height: 29px
        @media (min-width: $md2+px)
            &:hover
                filter: none
        &_prev
        &_next
            transform: rotate(-180deg)
    &__info
        padding: 0px 20px
        font-size: 14px
        font-weight: 500
        color: #999999
        .swiper-pagination-current
            font-size: 30px
            font-weight: 900
            text-transform: uppercase
            letter-spacing: 0.025em
            color: #333333
        .swiper-pagination-total
        @media (max-width: $md3+px)
            text-align: center    
    &__items
.descr
    border: 3px dashed #dadada
    border-left: none
    border-right: none
    padding: 32px 0px
    &__container
        background: linear-gradient(135deg, #fd6502, #a03700)
    &__wrapper
        padding: 45px 40px 60px 40px
    &__title
        font-family: 'UniSans'
        font-size: 30px
        line-height: 1.2
        font-weight: 900
        text-transform: uppercase
        letter-spacing: 0.025em
        color: #fff
        margin: 0px 0px 33px 0px
    &__body
        display: flex
        justify-content: space-between
        font-size: 14px
        line-height: 20px
        font-weight: 400
        letter-spacing: 0.025em
        color: #fff
.body-descr
    &__text
        padding: 0px 30px 0px 0px
    &__list
        padding: 0px 0px 0px 30px
.list-descr
    &__title
        font-size: 16px
        line-height: 20px
        font-weight: 900
        text-transform: uppercase
        letter-spacing: 0.025em
        margin: 0px 0px 5px 0px
        color: #ffffff
    &__content
        text-indent: 30px
        li
            position: relative
            padding: 0px 0px 5px 0px
            &:last-child
                padding: 0px
            &::before
                display: inline-block
                position: absolute
                top: 0px
                left: 8px
                content: ""
                transition: all 0.3s ease 0s
                width: 16px
                height: 16px
                background: url("../img/icons/page/list_arrow.png") 0 0 no-repeat 
            